@model string

<div class="form-group">
    @Html.LabelFor(m => m, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownListFor(m => m, (IEnumerable<SelectListItem>)ViewBag.ListItem, new { @class = "form-control" })
    </div>
    <div>
        @Html.ValidationMessageFor(m => m)
    </div>
</div>