@{
    ViewBag.Title = "Home Page";
}

@if (TempData["message"] != null)
{
    <div class="alert alert-success">
        <span class="close" data-dismiss="alert">&times;</span>
        @TempData["message"]
    </div>
}

<div class="jumbotron">
    <h1>Something important :)</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
</div>
<div class="row">
    <div class="col-md-12">
        <h1>First page</h1>
    </div>
</div>
